{% load i18n %}

<script>
    window.MESSAGES = {
        activityDetails: {
            thisWeek: "{% trans 'This week' %}",
            lastWeek: "{% trans 'Last week' %}",
            thisYear: "{% trans 'This Year' %}",
            lastYear: "{% trans 'Last Year' %}"
        },
        home: {
            loading: "{% trans 'Loading...' %}",
            totalConsumptionThisWeek: "{% trans 'Total consumption this week' %}",
            meterNumber: "{% trans 'Meter number' %}",
            meterName: "{% trans 'Name' %}",
            type: "{% trans 'Type' %}",
            moreDetails: "{% trans 'More Details' %}",
            showDailyData: "{% trans 'Show daily data' %}",
            addToChart: "{% trans 'Add to chart' %}",
            dailyWaterConsumptionOverLastYear: "{% trans 'Daily water consumption over the last year' %}",
            wateringPointsLoaded: "{% trans 'Watering points loaded' %}",
            somethingWentWrong: "{% trans 'Something went wrong, please contact an admin.' %}"
        },
        report: {
            waterConsumptionReport: "{% trans 'Water Consumption Report' %}"
        }
    };
</script>
