{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/activity-details.css' %}">
{% endblock %}

{% block content %}

    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-4">
            <h1 class="m-0 text-dark">{{ name }}</h1>
          </div>
          <div class="col-sm-3">

            <button type="button" class="btn btn-sm btn-secondary" style="margin-left: 10px;" onclick="exportReport();">
                    <i class="fas fa-download"></i>
                  </button>

            {% if activity in 'Green Area,Font,Municipal Office,Sport Facilities,School,Cultural Centre,Public Market'  %}
                <a href="{% url 'list' %}?activity={{ activity }}">
                    <span class="btn btn-sm btn-secondary">{% trans "View all" %}</span>
                </a>
            {% endif %}
              <!--<ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#"><span class="badge badge-success">View all</span></a></li>
              <li class="breadcrumb-item active">Dashboard v3</li>
            </ol> -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">{% trans "Water Consumption" %}</h3>
                </div>
              </div>
              <div class="card-body" id="content-week-info">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                      <span class="text-bold text-lg"><span class="value"></span> m<sup>3</sup></span>
                        <span>{% trans "Water Consumption this week" %}</span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="percentage"></span>
                    <span class="text-muted">{% trans "Since last week" %}</span>
                  </p>
                </div>
                <!-- /.d-flex -->

                <!--<div class="position-relative mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="visitors-chart" height="500" width="1430" class="chartjs-render-monitor" style="display: block; height: 200px; width: 572px;"></canvas>
                </div> -->
                  <div id="chart-weekly-consumption" style="width:100%;height:300px;"></div>

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> {% trans "This Week" %}
                  </span>

                  <span>
                    <i class="fas fa-square text-gray"></i> {% trans "Last Week" %}
                  </span>
                </div>
              </div>
            </div>

            <!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          <div class="col-lg-6">
            <div class="card">
              <div class="card-header border-0">
                <div class="d-flex justify-content-between">
                  <h3 class="card-title">{% trans "Monthly Water Consumption" %}</h3>
                </div>
              </div>
              <div class="card-body" id="content-month-info">
                <div class="d-flex">
                  <p class="d-flex flex-column">
                    <span class="text-bold text-lg"><span class="value"></span> m<sup>3</sup></span>
                    <span>{% trans "Monthly Water Consumption Over Time" %}</span>
                  </p>
                  <p class="ml-auto d-flex flex-column text-right">
                    <span class="percentage"></span>
                    <span class="text-muted">{% trans "Since last month" %}</span>
                  </p>
                </div>
                <!-- /.d-flex -->
                  <div id="chart-monthly-cons" style="width:100%;height:300px;"></div>
                <!--<div class="position-relative mb-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                  <canvas id="sales-chart" height="500" width="1430" class="chartjs-render-monitor" style="display: block; height: 200px; width: 572px;"></canvas>
                </div> -->

                <div class="d-flex flex-row justify-content-end">
                  <span class="mr-2">
                    <i class="fas fa-square text-primary"></i> {% trans "This year" %}
                  </span>

                  <span>
                    <i class="fas fa-square text-gray"></i> {% trans "Last year" %}
                  </span>
                </div>
              </div>
            </div>

              </div>
            </div>
            <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">{% trans "Water Consumption Report" %}</h5>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                  </button>
                  <div class="btn-group">
                    <button type="button" class="btn btn-tool dropdown-toggle" data-toggle="dropdown">
                      <i class="fas fa-wrench"></i>
                    </button>
                  </div>
                  <button type="button" class="btn btn-tool" data-card-widget="remove">
                    <i class="fas fa-times"></i>
                  </button>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="row">
                  <div class="col-md-12">
                    <p class="text-center">
                      <strong>{% trans "Yearly Water Consumption" %}</strong>
                    </p>
                      <div id="chart-yearly-cons" style="width	: 100%;height	: 200px;"></div>
                    <!--<div class="chart"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                      <canvas id="salesChart" height="450" style="height: 180px; display: block; width: 794px;" width="1985" class="chartjs-render-monitor"></canvas>
                    </div>-->
                    <!-- /.chart-responsive -->
                  </div>
                    <!-- /.progress-group -->
                  <!--</div> -->
                  <!-- /.col -->
                </div>
                <!-- /.row -->
              </div>
              <!-- ./card-body -->
              <div class="card-footer">
                <div class="row">
                  <div class="col-sm-3 col-6" id="footer-val-daily">
                    <div class="description-block border-right">
                      <span class="percentage description-percentage"></span>
                      <h5 class="description-header"><span class="value"></span> m<sup>3</sup></h5>
                      <span class="description-text">{% trans "DAILY CONSUMPTION" %}</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6" id="footer-val-weekly">
                    <div class="description-block border-right">
                      <span class="percentage description-percentage"></span>
                        <h5 class="description-header"><span class="value"></span> m<sup>3</sup></h5>
                      <span class="description-text">{% trans "WEEKLY CONSUMPTION" %}</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6" id="footer-val-monthly">
                    <div class="description-block border-right">
                      <span class="percentage description-percentage"></span>
                      <h5 class="description-header"><span class="value"></span> m<sup>3</sup></h5>
                      <span class="description-text">{% trans "MONTHLY CONSUMPTION" %}</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                  <!-- /.col -->
                  <div class="col-sm-3 col-6" id="footer-val-yearly">
                    <div class="description-block">
                      <span class="percentage description-percentage"></span>
                      <h5 class="description-header"><span class="value"></span> m<sup>3</sup></h5>
                      <span class="description-text">{% trans "YEARLY CONSUMPTION" %}</span>
                    </div>
                    <!-- /.description-block -->
                  </div>
                </div>
                <!-- /.row -->
              </div>
              <!-- /.card-footer -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
          </div>
          <!-- /.col-md-6 -->
        </div>

{% endblock %}

{% block js %}
    <script>
        const URL_PREFIX = '{{ URL_PREFIX }}';

        {% if activity %}
            const ENTITY = {
                type: "activity",
                value: '{{ activity }}'
            };
        {% else %}
            const ENTITY = {
                type: "id",
                value: '{{ meter_number }}'
            };
        {% endif %}

        {% if FIXED_DATE %}
            window.FIXED_DATE = new Date({{ FIXED_DATE.year }}, {{ FIXED_DATE.month|add:-1 }}, {{ FIXED_DATE.day }});
        {% endif %}
    </script>
    <script src="{% static 'js/colors.js' %}"></script>
    <script src="{% static 'js/home-charts.js' %}?v=20200614.1"></script>
    <script src="{% static 'js/activity-details.js' %}?v=20210117.1"></script>
    <script src="{% static 'js/home.js' %}?v=20200614.1"></script>
    <script src="{% static 'js/report.js' %}?v=20200615.1"></script>
{% endblock %}
