#mapid {
    height: 480px;
}

#alert-only {
    margin-left: 20px;
}

#loading {
    margin-left: 100px;
    color: #212529;
}

.popup-content .consumption {
    font-weight: 600;
}

.popup-content .prop-label {
    color: #aaa;
}

.popup-content .prop-label.consumption-label {
    margin-bottom: 10px;
}

.popup-content .action {
    margin-top: 4px;
    display: block;
}

.popup-content .alert-list {
    padding-top: 10px;
    max-height: 150px;
    overflow-y: auto;
}

.popup-content .alert-list > .alert-item {
    margin-bottom: 10px;
}

.popup-content .alert-list > .alert-item > .alert-text {
    color: #e74c3c;
}

.popup-content .alert-list > .alert-item > .action-text {
    margin-left: 20px;
    color: #3498db;
    font-style: italic;
}

.popup-content .action.btn--first {
    margin-top: 10px;
}

.popup-content .action.btn {
    width: 100%;
}

#home-chart-container {
    height: 500px;
}

/* Filters */
#dashboard-filters {
    padding: 20px 12px;
}

#dashboard-filters select {
    margin-left: 10px;
}